
/*
------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------
Reset CSS File
------------------------------------------------------------------------------------------------------------------------
*/

h5,
h6 {
  margin: var(--spacing-0);
}

ul,
ol,
dl {
  margin: var(--spacing-0);
  padding: var(--spacing-0);
  list-style: none;
}
